.gameBoard {
  width: 40vh;
  height: 40vh;
  max-width: 40vh;
  max-height: 40vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#gameArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.hardReset {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
.hardReset:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.hardReset:before,
.hardReset:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.hardReset:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.hardReset:hover:before,
.hardReset:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.softReset {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.softReset:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.softReset:hover {
  color: #fff;
}
.softReset:hover:after {
  left: 0;
  width: 100%;
}
.softReset:active {
  top: 2px;
}
